* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align-last: center;
    font-size: 6em;
}

#table {
    background-color: green;
    width: 640px;
    margin: 25px auto;
    padding: 25px 50px;

    display: grid;
    grid-template-areas:
        "dealer"
        "player"
        "controls";
    gap: 25px;

    border: 10px outset brown;
    border-radius: 10%; /* 50%; */
}

section {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 25px;
}

#dealer {
    grid-area: dealer;
}

#player {
    grid-area: player;
}

#controls {
    grid-area: controls;
    grid-template-columns: none;
    grid-auto-columns: 100px;
    grid-template-rows: 50px;
    grid-auto-flow: column;
    justify-self: center;
}

.score {
    text-align:center;
    display: grid;
    color: white;
}
.name {
    text-transform: uppercase;
}
.points {
    font-size: 3em;
}

.score,
.cards {
    border: 2px solid yellow;
    border-radius: 5px;
}

.cards {
    display: grid;
    gap: 5px;
    grid-template-rows: 145px;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
}

.card {
    margin: 5px;
    background-color: white;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.facedown {
    background-image: url('images/script-logo.svg');
    background-size: contain;
}